<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="navbar(title)">
    <nav>
        <img th:src="${enterprise}" alt="companyConf logo"/>
        <h1 class="text-2xl text-white font-bold mx-2" th:text="${title}"></h1>
    </nav>
</div>
</body>
</html>