<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{_layout}" >
<head>
    <title>Edit employee infos</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2>Edit Employee Details</h2>
    <form th:action="@{/edit}" th:object="${employee}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group">
            <label for="profile-pic">Profile picture</label>
            <input type="file" class="form-control" id="profile-pic" th:name="file" alt="no image">
        </div>
          <div class="form-group">
            <label for="name">UserName:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date:</label>
            <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
        </div>

        <div class="form-group">
            <label for="sex">Sex:</label>
            <select class="form-control" id="sex"  th:field="*{sex}">
                <option th:each="sex: ${sexList}" th:value="${sex}" th:text="${sex}" ></option>
            </select>
        </div>
        <div class="form-group">
            <label for="entryDate">Entry Date:</label>
            <input type="date" class="form-control datepicker" id="entryDate" th:field="*{entryDate}">
        </div>

        <div class="form-group">
            <label for="function">Function:</label>
            <input type="text" class="form-control" id="function" th:field="*{function}">
        </div>



        <div class="form-group">
            <label for="childrens">Children in Charge:</label>
            <input type="text" class="form-control" id="childrens" th:field="*{childrens}" >
        </div>

        <div class="form-group">
            <label for="privateMail">Email:</label>
            <input type="email" class="form-control" id="privateMail" th:field="*{privateMail}">
        </div>

        <div class="form-group">
            <label for="cin">CIN:</label>
            <input type="text" class="form-control" id="cin" th:field="*{cin}">
        </div>

        <div class="form-group">
            <label for="phoneNumbers">Phone Numbers:</label>
            <ul>
                <li th:each="phone : ${employee.phones}">
                    <input type="text" class="form-control" th:field="*{phones[__${phoneStat.index}__].number}">
                </li>
            </ul>
        </div>

        <div class="form-group">
            <label for="departureDate">Departure Date:</label>
            <input type="date" class="form-control" id="departureDate" th:field="*{departureDate}">
        </div>

        <div class="form-group">
            <label for="professionalCategory">Professional Category:</label>
            <input type="text" class="form-control" id="professionalCategory" th:field="*{professionalCategory}">
        </div>

        <div class="form-group">
            <label for="cnaps">CNAPS:</label>
            <input type="text" class="form-control" id="cnaps" th:field="*{cnaps}">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
