<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <link th:href="@{/styles/custom-style.css}" rel="stylesheet"/>
    <title>Spring Boot Application</title>
    <script th:src="@{/scripts/index.js}" defer></script>
</head>
<body style="height: 100vh !important;">
<div class="d-flex align-items-center justify-content-center h-100 w-100">
    <form action="/saveEmployee" method="POST" th:object="${employee}" enctype="multipart/form-data"
          class="card p-3 w-25 h-75 d-flex align-items-center justify-content-center flex-column">
        <h4>Edit Employee</h4>
        <input style="display: none;" type="text" name="id" th:field="*{id}" th:value="*{id}" class="form-control" id="id">
        <div class="mb-3 mt-5">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" name="firstName" th:field="*{firstName}" th:value="*{firstName}" class="form-control" id="firstName"
                   placeholder="John">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" name="lastName" th:field="*{lastName}" th:value="*{lastName}" class="form-control" id="lastName"
                   placeholder="Doe">
        </div>
        <div class="mb-3">
            <label for="birthDate" class="form-label">Birthdate</label>
            <input type="date" name="birthDate" th:field="*{birthDate}" th:value="*{birthDate}" class="form-control" id="birthDate"
                   placeholder="John Doe">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Profile pic</label>
            <input type="file" class="form-control" id="image" name="image" th:field="*{image}" th:value="*{image}">
        </div>
        <div class="button-container d-flex align-items-center justify-content-around">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="button"><a href="/">Cancel</a></button>
        </div>
    </form>
</div>
</body>
</html>