<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1"/>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <title>Spring Boot Application</title>
    <script th:src="@{/scripts/index.js}" defer></script>
    <style>
        img {
            object-fit: contain;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<ul class="w-100 nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="/">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/createEmployee">Create Employee</a>
    </li>
</ul>
<div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
    <h1 th:text="${error.getCode()}"></h1>
    <div id="container">
        <p id="mess" th:text="${error.getMessage()}"></p>
    </div>
</div>
<script>
    const mess = document.getElementById("mess");
    const container = document.getElementById("container");
    const res = mess.innerText.split(". ").map(e => `<p>${e}</p>`).join("");
    container.innerHTML = res;
</script>
</body>
</html>