<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <style>
        th, td {
            text-align: center;
        }
    </style>

</head>
<body>
<div class="container mt-5">
    <form action="#" th:action="@{/filter}" method="get">
        <label>
            <input type="text" th:name="name" placeholder="name">
        </label>
        <label>
            <input type="text" th:name="function" placeholder="Function">
        </label>
        <input type="submit" value="Filter">
    </form>



    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Matriculate</th>
            <th>Profile pic</th>
            <th>name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.matriculate}"></td>
            <td><img th:src="@{'/image?id='+${employee.id}}" alt="" width="100px" height="50px"></td>
            <td th:text="${employee.name}"></td>
            <td>
                <a th:href="@{/employee/{employeeId}(employeeId=${employee.id})}" class="btn btn-success">Details</a>
                <a th:href="@{/edit(id=${employee.id})}" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/employee-form}" class="btn btn-success">Add new employee</a>
</div>

</body>

</html>
