:root {
    --primary-light: #ECF2FF;
    --primary-main: #5D87FF;
    --primary-dark: #4570EA;
    --primary-contrast-text: #00000099;

    --secondary-light: #E8F7FF;
    --secondary-main: #49BEFF;
    --secondary-dark: #23afdb;
    --secondary-contrast-text: #ffffff;

    --danger-light: #ff3030;
    --danger-main: #b30000;
    --danger-dark: #e20000;
    --danger-contrast-text: #ffffff;

    --black-1: rgba(0, 0, 0, 0.5);
    --black-05: rgba(0, 0, 0, 0.2);

    --radius-1: 20px;
    --radius-05: 10px;
    --btn-marin-1: 4px;
    --navbar-height: 4rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    padding-top: calc(var(--navbar-height) + 0.2rem);
}

main {
    height: 92vh;
    background: var(--primary-light);
    overflow: scroll;
    padding-block: 2rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bg-primary {
    background: var(--primary-main);
}

.btn {
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: var(--radius-1);
    transition: all 300ms;
    text-transform: capitalize;
    margin: var(--btn-marin-1);
}


.btn-primary {
    background: var(--primary-main);
    color: var(--primary-contrast-text);
}

.btn-primary:hover {
    background: var(--primary-dark);
}

.btn-primary:active {
    background: var(--primary-main);
}

.btn-danger {
    background: var(--danger-main);
    color: var(--danger-contrast-text);
}

.btn-danger:hover {
    background: var(--danger-dark);
}

.btn-danger:active {
    background: var(--danger-main);
}

/*table*/
.table-container {
    background: var(--primary-contrast-text);
    padding: 1rem;
    border-radius: var(--radius-1);
}

tr {
    transition: all 300ms;
    border-radius: var(--radius-1);
}

.toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

tbody {
    max-width: 80vh;
    overflow: scroll;
}

.card {
    min-width: 80vw;
    min-height: 700px;
    border-radius: var(--radius-1);
    background: var(--primary-contrast-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.in-card {
    flex-basis: 32%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    position: relative;
}

input {
    padding: 0.5rem !important;
    margin: 1rem;
    width: 200px;
    border-radius: var(--radius-05);
    outline: 1px solid var(--black-05);
    appearance: none;
}

label {
    display: block;
}

input:focus {
    outline: 1px solid var(--primary-main);
}

nav {
    width: 100vw;
    height: var(--navbar-height);
    background: var(--primary-main);
    position: fixed;
    color: var(--primary-contrast-text);
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav > h1 {
    flex-grow: 2;
    margin-inline: 1rem;
}